.marquee-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.marquee-content {
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}
